{% extends "base.html" %}

{% block content %}
{% load vote_tags %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=247377191994551";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="left-column">
	<div class="content-container" style="text-align: center;">
		<div class="image-caption single">{{ im.caption }}</div>
		<img src="{{ im.url }}" class="image-single" />	
		<div class="fb-comments" data-href="{% url image im.pk %}" data-num-posts="10" data-width="600"></div>
	</div>
	
</div>
<div class="right-column">
	{% if user.is_authenticated %}
	<div class="user">
		{% if user.get_profile %}
			<img src="https://graph.facebook.com/{{ user.get_profile.facebook_id }}/picture" />
		{% else %}
			<img src="/static/images/Homer_Simpson.jpg" style="width: 50px;" />
		{% endif %}
		{{ user.email }}
	</div>
	{% else %}
	<div class="alert-message warning">
	  <p><strong>Welcome to MorningReel!</strong> Here's a random collection of the coolest images on
		the interwebs.  I made this website for the fun of it and I hope you enjoy it.  Sign-up's are up top.  Got feedback?
		<a href="mailto:econner@stanford.edu">econner@stanford.edu</a></p>
	</div>
	{% endif %}
</div>
<div class="clearfix"></div>


{% endblock %}
