{% extends "base.html" %}

{% block content %}
{% load vote_tags %}
<script type="text/x-jquery-tmpl" id="listing-template">
<div class="content-container">
	<div class="image-caption">
		${caption}
	</div>
	<a href="/im/${pk}">
		<img src="${url}" class="image-list"/>
	</a>
	<div class="image-rating">
		<input type="hidden" name="image-id" value="${pk}" />
		Is this image?
		<ul class="voter">
		</ul>
	</div>
	<div class="clearfix"></div>
</div>
</script>
<script type="text/x-jquery-tmpl" id="vote-template">
<li>
	<div style="float:left">
		<a href="#" class="vote-arrow up-arrow ${has_voted_up}" data-action="+1" data-id="${pk}"></a>
		<a href="#" class="vote-arrow down-arrow ${has_voted_down}" data-action="-1" data-id="${pk}"></a>
	</div>
	<div style="float:left">
		<span class="vote-count" data-id="${pk}">
			${votes}
		</span>
		${title}
	</div>
	<div class="clearfix"></div>
</li>
</script>
<div class="left-column">
	<input type="hidden" id="viewing-category" name="image-id" value="{{ category.pk }}" />
	
	<div id="objects-container">
	{% if page.object_list %}
	{% for im in page.object_list %}
	<div class="content-container">
		<div class="image-caption">
			{{ im.caption }}
		</div>
		<a href="/im/{{ im.pk }}">
			<img src="{{ im.url }}" class="image-list"/>
		</a>
		<div class="image-rating">
			<input type="hidden" name="image-id" value="{{ im.pk }}" />
			Is this image?
			<ul>
			{% for cat in im.categories.all %}
				<li>
					<div style="float:left">
						<a href="#" class="vote-arrow up-arrow {% user_has_voted im.pk cat.pk 1 %}" data-action="+1" data-id="{{ cat.pk }}"></a>
						<a href="#" class="vote-arrow down-arrow {% user_has_voted im.pk cat.pk -1 %}" data-action="-1" data-id="{{ cat.pk }}"></a>
					</div>
					<div class="rating-help-text">
						<span class="vote-count" data-id="{{ cat.pk }}">
							{% vote_count im.pk cat.pk %}
						</span>
						{{ cat.title }}
					</div>
					<div class="clearfix"></div>
				</li>
			{% endfor %}
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
	{% endfor %}
	{% else %}
	<h2>No images to display!</h2>
	{% endif %}
	</div>
	<div id="aux-info">TEST TEST</div>
</div>
<div class="right-column">
	{% if user.is_authenticated %}
	<div class="user">
		<div class="user-img">
		{% if user.get_profile %}
			<img src="https://graph.facebook.com/{{ user.get_profile.facebook_id }}/picture" />
		{% else %}
			<img src="/static/images/Homer_Simpson.jpg" style="width: 50px;" />
		{% endif %}
		</div>
		<div class="user-info">
		{{ user.email }}
		</div>
		<div class="clearfix"></div>
	</div>
	{% else %}
	<div class="alert-message warning">
	  <p><strong>Welcome to DailySquint!</strong> Here's a random collection of the coolest images on
		the interwebs.  I made this website for the fun of it and I hope you enjoy it.  Sign-up's are up top.  Got feedback?
		<a href="mailto:econner@stanford.edu">econner@stanford.edu</a></p>
	</div>
	{% endif %}
	<ul class="category-nav">
		{% for cat in categories %}
			<li><a href="/list/{{ cat.pk }}" class="category-tab {% if category == cat %}active{% endif %}">{{ cat.title }}</a></li>
		{% endfor %}
	</ul>
</div>
<div class="clearfix"></div>


{% endblock %}
