/***************************
* Page layout
****************************/
#wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#header {
    width: 1000px;
    left: 50%;
    margin-left: -500px;
    height: 50px;
    position: fixed;
    z-index: 100;
    background: #333;
}
#content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#logo a {
    color: #fff;
    font-size: 20pt;
}
#logo {
    float: left;
    line-height: 50px;
}
.nav {
    height: 50px;
    float: right;
}
.nav li {
    float: right;
    list-style: none outside none;
    line-height: 50px;
}
.nav li a {
    color: #fff;
}
.user {
    color: #fff;
    float: right;
    line-height: 50px;
}
.left-column {
	float: left;
	width: 750px;
}
.right-column {
	float: left;
	width: 25%;
	background: #fff;
}
.clearfix {
	clear: both;
}

/***************************
* Image listing
****************************/

.image-container {
    float: left;
}
.image-list {
    max-width: 500px;
}

/***************************
* Image ratings
****************************/
.image-rating ul {
    list-style: none outside none;
}